.calculator {
  background: url('../images/calculator-bg.jpg') 50% 50% no-repeat $gun-metal;
  background-size: cover;
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
  }
}

.calculator-title {
  font-size: rem-calc(38);

  @include media-breakpoint-up(lg) {
    font-size: rem-calc(46);
  }
}

.calculator-wrap {
  padding: rem-calc(40) rem-calc(37) rem-calc(25);
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.09);
  border-radius: 20px;

  @include media-breakpoint-up(lg) {
    padding: rem-calc(32) rem-calc(32) rem-calc(36) rem-calc(68);
  }
}

.calculator-note {
  color: #bcbcbc;
  font-size: rem-calc(12);
}

.calculator-data {
  @include media-breakpoint-up(lg) {
    width: calc(100% - 625px);
    flex: 0 0 calc(100% - 625px);
    padding-top: rem-calc(28);
    padding-right: rem-calc(65);
  }
}

.calculator-results {
  @include media-breakpoint-up(lg) {
    width: 625px;
    flex: 0 0 625px;
  }
}

.calculator-result {
  border-radius: 20px;
  box-shadow: 0 3px 26px 0 rgba(110, 110, 110, 0.16);
  padding: rem-calc(28) rem-calc(25) rem-calc(16);

  @include media-breakpoint-up(lg) {
    padding-right: rem-calc(37);
    padding-left: rem-calc(42);
    padding-bottom: rem-calc(25);
    height: 455px;
  }
}

.calculator-result-value {
  font-size: rem-calc(18);
}

.billing_revenue_chart {
  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

#salary_package_chart,
#billing_revenue_chart {
  width: calc(100% - 35px) !important;
}

#change-salary,
#change-work {
  width: 35px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: $gun-metal;
  margin-bottom: 30px;
}

.bar-chart-wrap {
  @include media-breakpoint-up(lg) {
    height: 200px;
  }
}

.calculator-result-col {
  @include media-breakpoint-down(lg) {
    &:not(:last-child) {
      margin-bottom: rem-calc(30);
    }
  }

  @include media-breakpoint-up(lg) {
    width: 50%;

    &:first-of-type {
      padding-right: 20px;
    }

    &:last-of-type {
      padding-left: 20px;
    }
  }
}

.time-chart {
  margin-bottom: rem-calc(25);
  max-width: 115px;
}

.time-chart-label {
  font-size: 12px;
  font-weight: $font-weight-medium;
  fill: #a2a2a2;
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  text-align: center;
  line-height: 20px;
  transform: translate(-50%, -50%);
}

.time-chart-legend  {
  font-size: rem-calc(12);

  img {
    display: block;
    margin: 0 auto;
  }
}


