.contact-icon {
  position: relative;

  &::before {
    width: rem-calc(16);
  }

  &.icon-phone {
    font-size: rem-calc(15);
  }

  &.icon-envelope {
    font-size: rem-calc(11);
    top: -1px;
  }
}

.box-wrapper {
  border-radius: 20px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.09);
}
