.agent-photo {
  width: 110px;

  img {
    filter: grayscale(100);
    transition: all 0.3s ease;
  }

  &:hover {
    img {
      filter: none;
    }
  }

  .job-box__agent & {
    width: 124px;
  }

  @include media-breakpoint-up(xl) {
    width: 135px;
  }

  @include media-breakpoint-up(xxl) {
    width: 147px;
  }
}

.agent-info {
  width: calc(100% - 110px);

  .job-box__agent & {
    width: calc(100% - 124px);
    padding-left: 25px !important;
  }

  @include media-breakpoint-up(xl) {
    width: calc(100% - 135px);
  }

  @include media-breakpoint-up(xxl) {
    width: calc(100% - 147px);
  }
}

.agent-title {
  font-size: rem-calc(26);
}

.agent-contacts {
  font-size: rem-calc(18);
  line-height: 1.3;

  li {
    margin-bottom: rem-calc(2);
  }

  [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    position: relative;
    margin-right: 7px;

    &::before {
      width: rem-calc(14);
    }
  }

  .icon-envelope {
    font-size: rem-calc(9.4);
    top: -1px;
  }

  .icon-smartphone {
    font-size: rem-calc(14);
  }

  .icon-phone {
    font-size: rem-calc(15);
  }
}
