.beveled-bottom {
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% calc(100% - 10px));

  @include media-breakpoint-up(menu-switch) {
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% calc(100% - 40px));
  }
}

.beveled-top {
  clip-path: polygon(0% 3px, 100% 13px, 100% 100%, 0% 100%);

  @include media-breakpoint-up(menu-switch) {
    clip-path: polygon(0% 3px, 100% 43px, 100% 100%, 0% 100%);
  }
}

.beveled-top-bottom {
  clip-path: polygon(0% 3px, 100% 13px, 100% 100%, 0% calc(100% - 10px));

  @include media-breakpoint-up(menu-switch) {
    clip-path: polygon(0% 3px, 100% 43px, 100% 100%, 0% calc(100% - 40px));
  }
}

.beveled-bottom,
.beveled-top-bottom {
  + * {
    margin-top: -14px;

    @include media-breakpoint-up(menu-switch) {
      margin-top: -44px;
    }
  }
}

//.curved {
//  svg {
//    width: 100%;
//    height: 100%;
//  }
//}
//
//@supports (clip-path: polygon(0% 25%,  100% 50%, 100% 100%,  0% 100%)) {
//  .curved {
//    clip-path: polygon(0% 25%,  100% 50%, 100% 100%,  0% 100%);
//
//    &.text-white {
//      background-color: $white;
//    }
//
//    svg {
//      display: none;
//    }
//  }
//}
