.logo {
  position: relative;
  display: block;
  background: url("../images/logo.png") 0 50% no-repeat;
  background-size: contain;

  &::before {
    content: "";
    padding-top: percentage( 35 / 120 );
    display: block;
  }
}

.logo-dark {
  background-image: url("../images/logo-reverse.png");
}
