.bg-banner {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.bg-banner-2 {
  background-image: url('../images/banner-2.jpg');
}

.bg-overlay {
  > * {
    z-index: 1;
  }

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #000000);
  }
}
