@font-face {
  font-family: 'Prelo Slab';
  src:
    url('../fonts/PreloSlab-Medium.eot');
  src:
    url('../fonts/PreloSlab-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PreloSlab-Medium.woff2') format('woff2'),
    url('../fonts/PreloSlab-Medium.woff') format('woff'),
    url('../fonts/PreloSlab-Medium.ttf') format('truetype'),
    url('../fonts/PreloSlab-Medium.svg#PreloSlab-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prelo Slab';
  src:
    url('../fonts/PreloSlab-Black.eot');
  src:
    url('../fonts/PreloSlab-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PreloSlab-Black.woff2') format('woff2'),
    url('../fonts/PreloSlab-Black.woff') format('woff'),
    url('../fonts/PreloSlab-Black.ttf') format('truetype'),
    url('../fonts/PreloSlab-Black.svg#PreloSlab-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prelo Slab';
  src:
    url('../fonts/PreloSlab-Book.eot');
  src:
    url('../fonts/PreloSlab-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PreloSlab-Book.woff2') format('woff2'),
    url('../fonts/PreloSlab-Book.woff') format('woff'),
    url('../fonts/PreloSlab-Book.ttf') format('truetype'),
    url('../fonts/PreloSlab-Book.svg#PreloSlab-Book') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prelo Slab';
  src:
    url('../fonts/PreloSlab-Light.eot');
  src:
    url('../fonts/PreloSlab-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PreloSlab-Light.woff2') format('woff2'),
    url('../fonts/PreloSlab-Light.woff') format('woff'),
    url('../fonts/PreloSlab-Light.ttf') format('truetype'),
    url('../fonts/PreloSlab-Light.svg#PreloSlab-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
