/* purgecss start ignore */

@font-face {
  font-family: 'alra';
  src:
    url('../fonts/alra.eot?44487349');
  src:
    url('../fonts/alra.eot?44487349#iefix') format('embedded-opentype'),
    url('../fonts/alra.woff2?44487349') format('woff2'),
    url('../fonts/alra.woff?44487349') format('woff'),
    url('../fonts/alra.ttf?44487349') format('truetype'),
    url('../fonts/alra.svg?44487349#alra') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'alra';
    src: url('../font/alra.svg?44487349#alra') format('svg');
  }
}
*/

[class^="icon-"]::before, [class*=" icon-"]::before {
  font-family: "alra";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  //margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  //margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ok::before { content: '\e800'; } /* '' */
.icon-facebook::before { content: '\e823'; } /* '' */
.icon-twitter::before { content: '\e824'; } /* '' */
.icon-envelope::before { content: '\e825'; } /* '' */
.icon-linkedin::before { content: '\e826'; } /* '' */
.icon-close::before { content: '\e828'; } /* '' */
.icon-phone::before { content: '\e829'; } /* '' */
.icon-smartphone::before { content: '\e82a'; } /* '' */
.icon-calendar-solid::before { content: '\e82b'; } /* '' */
.icon-coin::before { content: '\e82c'; } /* '' */
.icon-pin::before { content: '\e82d'; } /* '' */
.icon-portfolio::before { content: '\e82e'; } /* '' */
.icon-quote::before { content: '\e82f'; } /* '' */
.icon-arrow-left::before { content: '\e903'; } /* '' */
.icon-arrow-right::before { content: '\e904'; } /* '' */

/* purgecss end ignore */
